[2019-02-13 05:28] PadmaB opened #5 "Add SSH keypair to GCP Machines"
SSH keypairs are attached to a machine during machine creation for all providers except GCP at the moment.

**Note:**
After investigation, it was identified that the fix is required in Gardener and not in MCM, hence creating the issue here for better tracking
Ref https://github.com/gardener/machine-controller-manager/issues/192 for more details

[2019-09-28 05:22] georgi-lozev opened #4 "GCP: Control the default allow-external-access FW rules"
We have Gardener shoot clusters running in GCP with firewall rules like the following.

[code]

The fact that the port 80 is open to the internet is being classified as a high security risk.
There is nothing from our services actually listening on that port and it will be good if we could close it.

Is there a way for you to allow us to have control over that configuration and open it only if need

[2019-11-01 16:53] rfranzke opened #3 "Remove external IPs from GCP worker nodes"
With https://github.com/gardener/gardener-extensions/pull/379 and https://github.com/gardener/gardener-extensions/pull/398 Cloud NATs have been introduced for GCP shoots in order to remove the external IPs from the shoot worker nodes.

However, these changes were reverted with https://github.com/gardener/gardener-extensions/pull/405 because of instabilities.
More specifically, the main problem was

[2019-12-22 16:57] rfranzke opened #2 "Adopt CSI for GCP extension beginning with Kubernetes 1.18"
As of Kubernetes 1.17 the in-tree GCE PD volume driver is deprecated in favour of CSI. We should adopt CSI for 1.17+ clusters.

See also: https://github.com/kubernetes/kubernetes/pull/85231 and https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/

[2020-01-22 11:56] champoeva opened #1 "[GCP] Expose configuration for GCP Cloud NAT manual external IP address"
As mentioned in the google documentation https://cloud.google.com/nat/docs/using-nat#update_nat, there is a way to set a reserved static IP address for Cloud NAT. Currently gardener doesnt' have a configuration available for setting it to be manual instead of automatic. The reason for requesting this configuration is that we have an use case which requires us to whitelist our clusters' public IP a

[2020-01-30 12:35] vpnachev opened #6 "[GCP] Expose configuration for minimum ports per VM instance in CloudNAT"
With gardener/gardener-extensions#417 the shoot worker nodes get outbound network connectivity via CloudNAT instead of external IP per node. By default, CloudNAT has a minimum ports per VM set to 64 which results in dropped packets when more than 64 connection are tried to be established from the same node to the same destination. To resolve this, the minimum ports per VM configuration has to be e

[2020-01-30 12:35] #6 closed

[2020-01-30 12:35] zanetworker opened #7 "Implement Quota friendly Cloud Router sharing for CloudNATs."
**Problem**
Currently it is possible to utilize CloudNAT from GCP to allow external connectivity from VMs to the outside world without exposing their public IP. The problem with the current approach is that there is a hard quota limit of 5 Cloud Routers / VPC, this means that only 5 shoots can share the same VPC (https://cloud.google.com/router/quotas).

**Possible solution**
To circumvent this is

[2020-01-30 12:35] #7 closed

[2020-01-30 12:35] janb-sap opened #8 "Ability to configure GCP VPC Flow Logs"
We need the ability to configure the VPC flow logs on Google Cloud Platform via Gardener to meet security requirements.

Manual configuration of the VPC flow logs is not possible, as it gets overwritten by Gardener on reconciliation.

[2020-01-30 12:35] #8 closed

[2020-01-30 12:35] ialidzhikov opened #9 "Forwarding rules leak on provider-gcp"
Steps to reproduce:
1. Create a Shoot on GCP.
2. Delete the Shoot created in step 1.
3. Ensure on google console or with gcloud that forwarding rules created in steps 1 are not cleaned up.

[2020-01-30 12:35] #9 closed

[2020-01-30 12:35] plkokanov opened #10 "[GCP] Deletion of a shoot cluster deletes all firewall rules in the same VPC and svc account"
If two or more shoot clusters share the same VPC and are created by the same service account and then one of these clusters gets deleted all firewall rules for the VPC and service account also get deleted.

Check:
https://github.com/gardener/gardener-extensions/blob/master/controllers/provider-gcp/pkg/internal/infrastructure/infrastructure.go#L35
and
https://github.com/gardener/gardener-extensions

[2020-01-30 12:35] #10 closed

[2020-01-30 12:35] rfranzke opened #11 "Implement `Worker` controller for GCP provider"
Similar to how we have implemented the `Worker` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/pull/71) let's please now do it for GCP.

There is no special provider config required to be implemented, however, we should have [component configuration](https://github.com/gardener/gardener-extensions/pull/71/files#diff-ec48bd1cd4bb7c2b51603f67ee4b

[2020-01-30 12:35] #11 closed

[2020-01-30 12:35] rfranzke opened #12 "Implement `ControlPlane` controller for GCP provider"
Similar to how we have implemented the `ControlPlane` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/tree/master/controllers/provider-aws/pkg/controller/controlplane) let's please now do it for GCP.

Based on [the current implementation](https://github.com/gardener/gardener/blob/master/example/90-shoot-gcp.yaml) the `ControlPlaneConfig` should

[2020-01-30 12:35] #12 closed

[2020-01-30 12:35] rfranzke opened #13 "Implement `Infrastructure` controller for GCP provider"
Similar to how we have implemented the `Infrastructure` extension resource controller for the [AWS provider](https://github.com/gardener/gardener-extensions/tree/master/controllers/provider-aws/pkg/infrastructure) let's please now do it for GCP.

Based on [the current implementation](https://github.com/gardener/gardener/blob/master/example/90-shoot-gcp.yaml#L13-L18) the `InfrastructureConfig` shou

[2020-01-30 12:35] #13 closed

[2020-01-30 12:35] DockToFuture opened #14 "Expose Shoot Cluster on GCP via Cloud NAT"
Currently we are using external IP addresses on GCP to reach the internet from our nodes.
Cloud NAT provides the possibility to reach the public internet via one NAT Endpoint/Gateway without exposing each node and eases access to reach third party components by whitelisting the Cloud NAT IP address instead of the region pools which are used by GCP to assign dynamically IPs to the nodes/instances.

[2020-01-30 12:35] #14 closed

[2020-01-30 16:57] rakewill opened #15 "Provision node VMs with cloud-platform access scope"
**What would you like to be added**:
Gardener creates node VMs with limited access scopes. In our case, this results in our application not being able to access a GCS bucket without having to add additional configuration. We have granted the service account the necessary IAM role on the GCS bucket. However, it is the limited access scope of the node VMs that is causing the issue. We want to follow

[2020-01-31 14:10] plkokanov opened #17 "Running `make install` returns an error"
**What happened**:
`make install` returns the following error when run locally

![image](https://user-images.githubusercontent.com/35485709/73545461-0e80ac00-4444-11ea-902b-78e98baf87e1.png)

**What you expected to happen**:
Running `make install` should not return an error

**How to reproduce it (as minimally and precisely as possible)**:
1. Clone the master branch
2. Run `make install`

**Anythi

[2020-01-31 14:11] plkokanov commented on #17
Wrong repo :/

[2020-01-31 14:11] #17 closed

[2020-02-03 10:04] vpnachev commented on #1
I believe this is error prone:
* The service account will need explicitly privileges to manage this resource.
* Also, the shoot cluster provisioning can fail too late because of insufficient quota.
* Sometimes a single egress IP is not enough to handle all parallel connections, which will result in dropped packets.
* I do not see any advantage compared to the `AUTO_ONLY`.

[2020-02-04 07:02] rfranzke opened #18 "Cannot delete infrastructure when credentials data keys a re missing in secret"
From https://github.com/gardener/gardener-extensions/issues/577

But when trying to delete such a cluster this fails because of the same reason:

[2020-02-04 07:04] rfranzke opened #19 "Update credentials during Worker deletion"
From https://github.com/gardener/gardener-extensions/issues/523

[2020-02-04 07:16] rfranzke opened #20 "SeedNetworkPoliciesTest fails always"
From https://github.com/gardener/gardener-extensions/issues/293

The test defined in [SeedNetworkPoliciesTest.yaml](https://github.com/gardener/gardener/blob/master/.test-defs/SeedNetworkPoliciesTest.yaml) fails always.
Most of the time the following 3 specs fail:

[2020-02-04 07:18] rfranzke opened #21 "Provider-specific webhooks in Garden cluster"
From https://github.com/gardener/gardener-extensions/issues/407

This allows end-users to harm themselves and create invalid `Shoot` resources the Garden cluster. Errors will only become present during reconciliation part creation of the resource.

[2020-02-04 07:28] rfranzke opened #22 "Add tests for alerting rules"
From https://github.com/gardener/gardener-extensions/issues/346

[2020-02-04 07:32] rfranzke opened #23 "Minimal Permissions for user credentials"
From https://github.com/gardener/gardener-extensions/issues/133

[2020-02-04 07:33] rfranzke commented on #23
Disclaimer: It is unclear whether the current required permissions can be narrowed down even more (whether the cloud provider allows this fine-granular tuning) - if you think it is not possible/not recommended please close the issue with a proper explanation.

[2020-02-04 07:35] rfranzke opened #24 "Run all `make` commands in container."
From https://github.com/gardener/gardener-extensions/issues/122

[2020-02-11 18:43] rakewill opened #32 "Need the ability to create nodes on an existing VPC/subnet"
**What would you like to be added**:
Although it is possible to configure Gardener clusters to create nodes in a particular VPC, it still attempts to create a new subnet in the VPC. We would like to be able to specify both the name of an existing VPC and the name of an existing subnet within the VPC when creating a new cluster.
**Why is this needed**:
We have an existing VPC and subnet configured

[2020-02-13 09:13] champoeva commented on #1
Hello, is there any update on this issue? The requested option for a reserved static ip is very important for our project, we are currently holding off on making all of the whitelist requests that we need, because of the uncertainty surrounding this issue. Could you please give us an estimate of when can we expect to have any type of solution or a workaround?

[2020-02-14 20:04] mikosa commented on #1
We also need this feature to be available in GCP. Hope somebody can provide a timeline on this

[2020-02-18 07:38] DockToFuture commented on #1
Started working on this.

[2020-02-20 17:04] ialidzhikov opened #37 "Forbid replacing secret with new account for existing Shoots"
**What would you like to be added**:
Currently we don't have a validation that would prevent user to replace its cloudprovider secret with credentials for another account. Basically we do have only a warning in the dashboard - ref https://github.com/gardener/dashboard/pull/422.

Steps to reproduce:
1. Get an existing Shoot.
2. Update its secret with credentials for another account.
3. Ensure that

[2020-03-03 19:28] rakewill opened #41 "Enable Private Google access for VPC subnets"
**What would you like to be added**:
Private Google access should be **On** by default for VPC subnets created by Gardener.

**Why is this needed**:
Private Google access allows VMs to reach Google APIs and services using an internal IP address instead of an external IP address. Also, this setting is recommended in the Google Cloud Platform Security Procedure.
https://wiki.wdf.sap.corp/wiki/displa

[2020-03-04 17:17] rakewill commented on #15
Is there a way to have this change expedited? From what I have seen in the code, this change is a matter of replacing the _compute_ scope with the _cloud-platform_ scope in a few places. Until this is in place, we have to implement a workaround where we have to generate a key for the service account and make it available in the containers running our application. Although this works, it creates ad

[2020-03-05 11:35] #1 closed

[2020-03-06 06:36] georgi-lozev commented on #4
Any updates on this one ?

[2020-03-06 12:51] DockToFuture commented on #32
For my understanding,  do you want to provide one subnet which should be used by multiple shoot clusters with each of them using a different cidr chunk for the nodes of the subnet cidr. Or do you want to bring for each cluster an own subnet?

[2020-03-11 07:24] #18 closed

[2020-03-11 07:24] #19 closed

[2020-03-13 11:50] hardikdr opened #46 "Add validation to prevent worker.min to be set to 0."
**What would you like to be added**: We need to add the validation to prevent the worker.Min from being set to 0 when worker.Max is non-zero.  This is to avoid cluster-autoscaler from scaling down the worker-pool to zero, and not being able to scale-up later.

**Why is this needed**:
Please refer for more info.: https://github.com/gardener/gardener/pull/2045

[2020-03-20 14:06] #21 closed

[2020-03-23 09:29] DockToFuture commented on #4
Will remove it today from `gardenctl` and create a separate rule for ssh access. Sry for the delay.

[2020-03-27 14:48] dkistner opened #56 "Extend internal GCP Shoot cluster capabilities"
**What would you like to be added**:
The Gardener GCP provider allow already to pass configuration for services of type LoadBalancer which are backed by internal load balancers. The user can specify in the infra config via `.internal` a cidr range within the vpc which should be used to pick an ip addresses for the internal load balancer service.
The extension will create a subnet in the vpc with t

[2020-03-28 11:39] rfranzke commented on #56
Thanks @dkistner. A few suggestions:

1. Sure, makes perfect sense. Shouldn't we then also allow the same for the worker subnets?  Also, instead of `.internal.subnet` I would call it `name`:

[code]

2. Why do we need such thing? Isn't this something that is in the end-users responsibility? If he likes to enforce that only internal LBs can be created then he can install this webhook on his own?

3

[2020-03-30 06:42] dkistner commented on #56
For 2. and 3. does that not clash with the gardener-resource-manager as there would be a diff in the resource definition, which then will be reverted, again mutated and so on... I think on Gardener managed resources like e.g. the `vpn-shoot` service. If this wouldn't be the case then I'm also completely with you to let it in the users responsibility.

[2020-03-30 07:50] rfranzke commented on #56
The gardener-resource-manager applies its desired state every minute, it doesn't check for any actual state and then computes a diff - it simply applies. Hence, any webhook can freely mutate the object as desired. This also allows extensions to implement [shoot webhooks](https://github.com/gardener/gardener/blob/master/docs/extensions/shoot-webhooks.md).

[2020-03-30 11:43] timuthy commented on #46
Solved by https://github.com/gardener/gardener-extension-provider-gcp/pull/38

[2020-03-30 11:43] #46 closed

[2020-03-30 14:16] stiller-leser commented on #56
Hi @rfranzke,

our setup is the basis of what @dkistner described. Esssentially, I agree that this could certainly be put into the hand of the user. I think it is more a question of what benefit has Gardener from (not offering) it, compared to how much strain does it put on the user. In our team the Kubernetes knowledge is quite high, however we had to spend multiple weeks figuering out what is ne

[2020-03-30 15:10] rfranzke commented on #56
From my point of view this sounds more like an add-on on top of ANY existing cluster - there is nothing Gardener-specific in it. What do mean with "strain"? Deploying the webhook into the cluster?

Can you explain more, maybe I haven't understood it completely. From what I got from @dkistner's above description the only thing that needs to be done is registering a mutating webhook for `Service`s,

[2020-03-31 17:30] zanetworker commented on #56
@dkistner how will we solve the API-server to VPN connectivity issue, does this mean we will have to provision a dedicated seed in that same network?

[2020-03-31 18:04] rfranzke commented on #56
I think yes, at least as long we haven’t inverted the direction of the VPN. Are there any plans to work on this?

[2020-03-31 18:24] zanetworker commented on #56
this as in the inversion of the VPN or this feature?

[2020-03-31 18:50] rfranzke commented on #56
No no, I meant the VPN inversion. Alright, thanks.
Regarding the feature, we discussed with @dkistner and @stiller-leser and decided that it makes sense to implement it in the GCP extension as there are things that cannot be influenced from the end-user (e.g., the initial creation of a public LB for the VPN shoot). @DockToFuture offered to start looking into it next week or the week after.

[2020-04-06 07:40] dkistner commented on #56
Yes that is needed until the vpn connection is not initialised by the Shoot.

How about structuring the internal section this way?

[code]
In case the cluster should not be explicitly internal only we can simply omit the `.internal.internalAccess` section.

[2020-04-06 07:45] zanetworker commented on #56
@dkistner but we need some means to identify that this shoot should be an internal shoot and thus scheduled to the internal seed.

[2020-04-06 07:59] stiller-leser commented on #56
Hi,

wouldn't it make sense to name the `internalAccess.enabled` a little more explicitly? Something along the lines of `internalAccess.allowOnlyInternalLoadBalancers`? Also, do we need the `cidr` part, if the name of the subnet is given?

[2020-04-06 15:49] dkistner commented on #56
What could be an indicator for that? I think currently the user need to know which Seed in networking wise reachable and need to pin it via `.spec.seedName`.

I'm ok with more explicit names. A user can either specify `.name`  or `.cidr`. In case the user specify a cidr then a subnet will be created by the gardener-extension (this is what we already have today). Otherwise it will just use the spec

[2020-04-14 06:01] rfranzke opened #65 "Use 1.18 cloud-controller-manager once upstream issues are resolved"
**What would you like to be added**:
We should use the 1.18 version of the cloud-controller-manager for 1.18 shoot clusters. However, today is buggy (see https://github.com/kubernetes/kubernetes/issues/90056), hence, we can't use it yet. Once the mentioned issue is resolved we should add it to our images list.

[2020-04-15 20:36] ialidzhikov commented on #65
/assign @ialidzhikov

[2020-04-21 08:32] qiffang opened #68 "Build failed"
**What happened**:
I run the commands
[code]
The config is here
[code]
But it failed, the message is here
[code]

[2020-04-21 08:35] #68 closed

[2020-04-21 10:57] qiffang opened #70 "GCP support additional volume"
**What would you like to be added**:
In the worker object, there are 2 fields `Volume` and `DataVolumes`
![image](https://user-images.githubusercontent.com/7285248/79858258-b5e8fb80-8401-11ea-869f-ba270fa106db.png)

But in gcp disk, there is only `Volume` field used.
![image](https://user-images.githubusercontent.com/7285248/79858311-cf8a4300-8401-11ea-84be-7052fd44b271.png)

I need 2 volume

- Ro

[2020-04-21 11:01] rfranzke commented on #70
Can you get in touch with @guydaichs? AFAIK is he working on this feature?

[2020-04-21 11:16] guydaichs commented on #70
Hi, MCM already supports multiple volumes for GCP, and we recently added support for this in gardener core and extension APIs. The only thing missing is the translation layer in provider-gcp. It should be pretty simple (sketch here: https://github.com/guydaichs/gardener-extension-provider-gcp/commit/0070165b0ad3f549d3e55e295e3410cb336e667d, tested it a while ago and it worked fine). Help is always

[2020-04-22 00:03] qiffang commented on #70
Hi @rfranzke @guydaichs
The pr is https://github.com/gardener/gardener-extension-provider-gcp/pull/71

[2020-04-22 14:58] qiffang opened #72 "GCP support enablegcraccess field"
In `gardener-externsion-provider-aws`, there is EnableEcrAccess field to allow nodes to pull images on ecr.
I think gcp also need to support this feature.
If the gcr registry is private, it always pull image failed

[2020-04-23 07:45] suleymanakbas91 opened #73 "Volume snapshotting does not work"
**What happened**:

I provisioned a Gardener GCP cluster with CSI storage driver, deployed a sample pod, and a sample PVC. Then, I created a VolumeSnapshotClass and a VolumeSnapshot to trigger snapshotting from the existing PVC. However, snapshotting didn't work. VolumeSnapshot's readyToUse field does not become true, and I don't see any related disk or snapshot on the GCP project.

**How to repro

[2020-04-23 10:01] champoeva opened #74 "cloudNAT settings can't be changed"
**What happened**:
I tried changing the cloudNAT setting in one of my teams cluster's shoot, as it is described here https://github.com/gardener/gardener-extension-provider-gcp/blob/master/docs/usage-as-end-user.md. When I tried to 'Save' my changes the following error appeared "admission webhook "validation.gcp.provider.extensions.gardener.cloud" denied the request: spec.provider.infrastructureCo

[2020-04-23 10:04] rfranzke commented on #74
cc @zanetworker

[2020-04-23 10:10] ialidzhikov commented on #73
Thanks for reporting. I reproduce it. There are no events about any failure.
I need to check further.

[2020-04-23 10:50] zanetworker commented on #74
@champoeva which values were you trying to change?

[2020-04-23 10:53] champoeva commented on #74
I was trying to put this:
cloudNAT:
  minPortsPerVM: 2048
  natIPNames:
    - name: xf-factory-cloud-router-external-ip

under 'networks'

[2020-04-23 17:51] ialidzhikov commented on #73
/assign @ialidzhikov

[2020-04-24 07:41] #73 closed

[2020-04-24 14:07] ialidzhikov commented on #2
Fixed with #61.

/close

[2020-04-24 14:07] #2 closed

[2020-04-29 06:37] sdojjy opened #82 "Support add custom label on GCP compute engine vm"
**What would you like to be added**:
In pkg/controller/worker/machines.go,  the machineClassSpec  labels map only contains one key named "name",  can we all pool labels to the machineClassSpec?
[code]
By the way, AWS extension needs this feature too.

**Why is this needed**:
We need some custom labels to distinguish  VM, then we can charge our tenant by query the cost from the big query.

If it's

[2020-04-29 07:04] rfranzke commented on #82
Does https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L51-L52 help?

[2020-04-29 07:27] sdojjy commented on #82
@rfranzke no, the labels on workers are added to the Kubernetes node. not the VM on the GCP console portal.

[2020-04-29 07:32] rfranzke commented on #82
Hm, the VMs should be tagged with the cluster name, or? Isn't this enough?

[2020-04-29 07:34] sdojjy commented on #82
it's not enough for us, we need more labels to distinguish VM nodes.

[2020-04-29 07:43] rfranzke commented on #82
I see.

What are the length restrictions for labels on VMs?

[2020-04-29 07:45] sdojjy commented on #82
I think it's based on the cloud provider.

[2020-04-29 07:46] rfranzke commented on #82
Sure. How is it for GCP (as this issue is on the GCP repo)?

[2020-04-29 07:49] sdojjy commented on #82
For AWS:
you can apply standard base-64 encoding to your tag.
https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html

[2020-04-30 02:29] sdojjy commented on #82
any update?

[2020-04-30 03:37] rfranzke commented on #82
I think this is fair, but I guess Kubernetes labels may have 64 characters, so for GCP we'd have to trim them to 63, right?

Another option would be to introduce special keys and only transport those labels to the VM itself, i.e.

[code]

For example, only the `foo=bar` would not be added to the VM (only to the Kubernetes node object).

I'm okay with both options, WDYT? Also, if you have time to f

[2020-04-30 03:56] sdojjy commented on #82
thanks, I will file a PR

[2020-04-30 04:07] #74 closed

[2020-05-01 16:35] vlerenc commented on #73
Thanks @suleymanakbas91 for reporting and fix @ialidzhikov !

[2020-05-05 14:45] vpnachev opened #89 "[CSI] csi-driver failing to provision volumes when node ID is longer than 128"
**What happened**:

A persistent volume claim was failing to be provisioned, because the node ID was too long.

[code]

**What you expected to happen**:
CSI driver to work for all machines in the clusters. I am not sure, but maybe a further restrictions on the names length has to be applied.

**How to reproduce it (as minimally and precisely as possible)**:
Create a shoot, project and worker pool

[2020-05-05 15:13] ialidzhikov commented on #89
/kind/bug
/platform/gcp

[2020-05-06 08:13] suleymanakbas91 opened #91 "Default VolumeSnapshotClass is missing"
**What would you like to be added**:

A default `VolumeSnapshotClass`.

**Why is this needed**:

[Volume Snapshot Class](https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/) describes the storage type for the Volume Snapshots just like the Storage Class for the Persistent Volumes. It would be great if the cluster comes with a default Volume Snapshot Class, so volume snapshotting w

[2020-05-06 08:43] rfranzke commented on #91
Would you like to submit a PR for a proposal of such a default class?

[2020-05-11 04:24] #82 closed

[2020-05-11 11:53] suleymanakbas91 commented on #91
The class for GCP would be:
[code]

It's almost the same as the storage class. So, this should be a simple addition. Do we need a proposal for this?

[2020-05-22 07:31] #65 closed

[2020-06-02 07:09] ialidzhikov opened #106 "Add integration test for Infrastructure reconciliation and deletion"
**How to categorize this issue?**

/area testing
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:
With https://github.com/gardener/gardener-extension-provider-aws/pull/54 provider-aws features integration test for Infrastructure reconciliation and deletion.

**Why is this needed**:
I would be good if we have similar test for provider-gcp as it will increase th

[2020-06-02 07:09] gardener-botmanager commented on #106
@ialidzhikov Label area/testing does not exist.

[2020-06-02 18:25] rakewill commented on #32
We have found an alternate solution so we no longer require this work.

[2020-06-02 18:25] #32 closed

[2020-06-02 18:27] rakewill commented on #15
We are still unable to access GCS buckets from one of our services. We cannot migrate this service to be hosted from GCP until Gardener nodes can access the GCS API by default.

[2020-06-16 09:04] ialidzhikov opened #114 "Adapt to terraform v0.12 language changes"
**How to categorize this issue?**

/area open-source
/kind cleanup
/priority normal
/platform gcp

**What would you like to be added**:
provider-gcp needs an adaptation of the terraform configuration to v0.12. For provider-aws this is done with this PR - https://github.com/gardener/gardener-extension-provider-aws/pull/111.

**Why is this needed**:
Currently the terraformer run is only omitting war

[2020-06-16 10:17] zanetworker opened #115 "Remove IPIP Tunnels from GCP"
**How to categorize this issue?**
/area networking
/kind enhancement

**What would you like to be added**:

Today, the `cloud-controller-manager` is used to configure routes on GCP (`configure-cloud-routes=true`), however these routes are not used since we are utilizing CNI tunnels (e.g., IPIP or VxLAN) to enabled pod-connectivity cross nodes and zones.

To completely remove tunnels for GCP, we wo

[2020-06-18 15:06] rfranzke commented on #115
Any changes to CCM required?

[2020-06-18 15:20] zanetworker commented on #115
Nope, since `configure-cloud-routes` is statically configured to `true` today by default (not sure why but helps now)

[2020-06-19 11:09] danielfoehrKn commented on #115
Does this mean that Calico is not used for networking anymore on GCP but only for network policy enforcement? Maybe you could share some insights. Thanks!

[2020-06-19 12:54] zanetworker commented on #115
@danielfoehrKn yes, it will be like Azure.

[2020-06-24 09:26] #114 closed

[2020-06-24 11:29] vlerenc commented on #89
@gardener/gardener-extension-provider-gcp-maintainers  @gardener/gardener-maintainers Is there someone willing to take this up?

[2020-07-13 15:50] #15 closed

[2020-07-14 14:22] afritzler opened #132 "Add support for Node Accelerators (GPU/TPU)"
**How to categorize this issue?**
/component mcm
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:
In order to allow the usage of GPU/TPU nodes on GCP we need to enable the `guest_accelerators` when machines are being created.

In Terraform speak this would look something like this:

[code]

Of course this needs to be translated to the go sdk usage.

**Why is t

[2020-07-22 12:04] runzexia commented on #91
/assign

[2020-07-23 13:04] vpnachev commented on #115
Reopen because #117 was reverted with #136.

[2020-07-24 11:19] hardikdr opened #140 "Configure mcm-settings from worker to machine-deployment."
**How to categorize this issue?**

/area usability
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:  Machine-controller-manager now allows configuring certain controller-settings, per machine-deployment. Currently, the following fields can be set:
- `drainTimeout`, `healthTimeout`, `creationTimeout`, `maxEvictRetries`, `nodeConditions`.
- Refer: https://github

[2020-07-27 07:19] #91 closed

[2020-07-28 12:37] timuthy opened #143 "Reduce memory footprint for GCP admission component"
**How to categorize this issue?**

/area robustness
/area cost
/priority critical
/platform gcp

**What would you like to be added**:
Since the validation of cloud provider secrets has been introduced (#112) the GCP admission plugin's memory footprint increased for a considerable amount, mainly because of added caches for `Shoots`, `SecretBindings` and `Secrets`.

The required memory depends on th

[2020-08-02 10:12] vlerenc opened #144 "Specify volumeBindingMode:WaitForFirstConsumer in default storage class"
/area storage
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:
PVs shall be created in the zone where the pod will be scheduled to.

**Why is this needed**:
From https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode:

We use `Immediate`, but should rather use `WaitForFirstConsumer`, wouldn't you agree?

[2020-08-04 06:09] hardikdr commented on #140
/assign

[2020-08-04 06:44] #140 closed

[2020-08-04 08:42] ialidzhikov commented on #106
/assign @ialidzhikov
/remove lifecycle/stale

[2020-08-06 16:34] ialidzhikov opened #150 "Unable to create internal LoadBalancer"
**How to categorize this issue?**

/area networking
/kind bug
/priority normal
/platform gcp

**What happened**:
Unable to create internal LoadBalancer. Ref https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing

**What you expected to happen**:
To be able to create internal LoadBalancer.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create Service w

[2020-08-06 18:20] ialidzhikov commented on #150
@dguendisch , isn't there already a conformance test about ILBs? We apparently don't test this as it requires configuring internal subnet as part of the Shoot spec...

[2020-08-07 05:47] #150 closed

[2020-08-07 09:05] dguendisch commented on #150
@ialidzhikov there is one in the e2e suite (not conformance): https://github.com/kubernetes/kubernetes/blob/09d6512ed31943c1120b4c4970e878e494706f0e/test/e2e/network/service.go#L2256

However we decided (for whatever reason) to skip this particular one when executing the extended e2e suite (again, not the conformance suite): https://github.com/gardener/test-infra/blob/master/integration-tests/e2e/

[2020-08-14 07:09] ialidzhikov opened #157 "Update to kubernetes-sigs/gcp-compute-persistent-disk-csi-driver@v1.0.0"
**How to categorize this issue?**

/area storage
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:
kubernetes-sigs/gcp-compute-persistent-disk-csi-driver does now have a major release v1.0.0 that is considered GA. Ref to the changelog - https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/v1.0.0/CHANGELOG/CHANGELOG-1.0.md.

[2020-08-14 12:38] vpnachev commented on #89
After some investigation, it turns out that k8s does not allow creation of CSINode objects with len(nodeID)>128.
The gcp csi driver is responsible to provide the node ID, thus I have opened this issue on their side https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/581.

/status external-action
/topology shoot

[2020-08-17 21:17] ialidzhikov commented on #4
/remove lifecycle/rotten

[2020-08-17 21:17] ialidzhikov commented on #4
/ping @DockToFuture

[2020-08-20 06:43] ialidzhikov commented on #157
/assign @ialidzhikov

[2020-08-21 07:07] ialidzhikov commented on #143
/assign @ialidzhikov

[2020-08-28 06:25] #106 closed

[2020-08-28 09:14] ialidzhikov commented on #143
Thank you @timuthy for opening this issue.

The avg memory usage now seem to be stable ~80Mb with spikes to 100Mb. These numbers on a landscape with ~10000 Secrets and ~7000 SecretBindings.

![Screenshot 2020-08-28 at 11 50 41](https://user-images.githubusercontent.com/9372594/91541755-7ee1a400-e925-11ea-8c1e-22f1b9f5e00f.png)

I can give a try for

and see whether it improves the memory usage.

[2020-08-31 14:35] #157 closed

[2020-09-08 06:55] #144 closed

[2020-09-10 11:01] ialidzhikov opened #172 "VolumeAttachments are orphaned on hibernation"
**How to categorize this issue?**

/area storage
/kind bug
/priority normal
/platform gcp

**What happened**:
VolumeAttachments are orphaned after hibernation and wake up. Such orphan VolumeAttachments block PV deletion afterwards.

**What you expected to happen**:
PV to do not hang in Terminating because of orphan VolumeAttachments.

**How to reproduce it (as minimally and precisely as possible)*

[2020-09-10 14:43] ialidzhikov commented on #172
I think the root cause is https://github.com/gardener/machine-controller-manager/issues/508

[2020-09-11 03:38] prashanth26 commented on #172
Hi Ismail,

Another reason why this is probably occurring is that the `force-delete` label has been set by Gardener on machine termination for shoot hibernation, and this was something that was enabled with a recent change to avoid machine drains failing due to PDB violations. With setting of force deletion, the drain logic is triggered but with a much shorter timeout of `1m`, and probably this op

[2020-09-11 05:35] amshuman-kr commented on #172
@prashanth26 Would it be a good idea for MCM to wait (during drain) for `volumeattachments` deletion (instead of or in addition to checking the `Node` status?

[2020-09-11 07:26] ialidzhikov commented on #172
`force-delete` was also my first guess. Last night I tried to reproduce this issue with a an mcm with fixed wait for CSI PVs. And the issue was again reproducible. I will first address gardener/machine-controller-manager#508, after that I will continue the investigation on this one.

[2020-09-11 07:34] ialidzhikov commented on #172
And this issue is reproducible also for other providers using CSI.

[2020-09-11 08:17] prashanth26 commented on #172
Yes, I think we can plan of having this call for disk detachment before deleting the machine. We already have such implementation in Azure. Have you observed this issue with Azure @ialidzhikov ?

Okay, sounds good.

[2020-09-13 15:47] ialidzhikov commented on #172
@prashanth26 , what you send is a wait until the disks are detached from the azure vm. I think what @amshuman-kr means is to have a wait until the corresponding `volumeattachments.storage.k8s.io` for the Node are deleted.

[2020-09-15 06:41] prashanth26 opened #174 "Move from in-tree to out-of-tree MCM"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority normal
/platform gcp

**What would you like to be added**:
We would like to split the MCM code base into two different pods using the OOT approach in MCM - https://github.com/gardener/machine-controller-manager/pull/460.

**Why is this needed**:
This would ease the maintenance of the provider specific MCM code in

[2020-09-15 15:25] ialidzhikov commented on #172
I can confirm that the issue is caused by force deletion of the machines during hibernation.
As far as I verified and checked in the source of machine-controller-manager, when `force-deletion=True` is used mcm deletes the Pods and does not wait for Pod deletion to complete or PVs to be detached from the Node. During hibernation the Pod deletionTimestamp was `deletionTimestamp: "2020-09-15T14:24:48

[2020-09-15 15:37] ialidzhikov commented on #172
Any thoughts on how to proceed?

[2020-09-16 06:05] rfranzke commented on #172
Can't we regularly terminate the machines (no force-delete but draining as usual) but without respecting PDBs/any accelerated timeouts (to make it fast)? cc @prashanth26

[2020-09-16 07:25] prashanth26 commented on #172
Currently, the drain used in MCM is a slightly modified version (to incorporate serial drain) of the upstream drain. And this drain has logic to respect the PDBs. We can modify this logic to avoid doing that in case of force drain, but i am not sure if that would be a good idea.

But I do get the line of thinking, we probably need two versions of drain one for with force delete that only set's del

[2020-09-16 13:10] vlerenc commented on #172
@amshuman-kr asked above a similar question I was asking in our sync today:

Mine was more: Would it make sense to wait until all volumeattachments are gone, before we shutdown the control plane for good?

[2020-09-17 07:21] amshuman-kr commented on #172
AFAIK, the _force-delete_ still fires a delete on the pods (and thus ignoring PDBs) but doesn't wait for volumes to be detached. This is the part that we can change. I.e. wait for volumes to be detached (possibly we could also try the serial deletion (not eviction) during _force-delete_.

[2020-09-17 07:23] amshuman-kr commented on #172
Possibly. But there might be some edge cases here, we need to check if there could be volumes from other sources that don't get detached easily.

[2020-09-22 06:40] #174 closed

[2020-10-07 13:55] vlerenc commented on #132
We got some push here, so people have interest. Do we know how much effort that would be after out-of-tree?

[2020-10-07 14:36] hardikdr commented on #132
Not much, from the looks of it,  for MCM.
As it can be combined with the creation-call, we simply have to introduce the `guest_accelerators` related fields in the `Spec` of MachineClass, and map it to the go-sdk. Also, GCP-OOT provider is ready, and about to be deployed with the next extension-release.

Then we need to adapt gcp-worker-extension and shoot-spec to expose to it to the user. Unless t

[2020-10-09 19:23] ialidzhikov commented on #172
/priority critical

[2020-10-10 11:23] vlerenc commented on #172
Thanks @ialidzhikov for considering that in the context.

[2020-10-10 20:57] ialidzhikov commented on #172
Well, from all of the comments above it is not clear for me how we proceed?
Do you think that forceful deletion on machine-controller-manager side needs to be adapted to wait also for volumes to detach? Or is it something that we need to tackle in gardenlet deleting all VolumeAttachments on hibernation (and probably later introduce garbage collection for VolumeAttachments in the shoot care control

[2020-10-11 05:14] vlerenc commented on #172
Indeed, @prashanth26 , that would have been a quick win. It's a bandaid as whatever time we define, we may be left with orphans if the attach-detach-controller is down at an inconvenient time, missing the event. Although, on hibernation we force the problem onto us because we shut down the CSI controller and that attach-detach-controller, which makes it a special case. @ialidzhikov has therefore p

[2020-10-12 04:37] prashanth26 commented on #172
Okay, Vedran. So we do nothing on the MCM for now thanks to @ialidzhikov 's changes.

However, we could try to improve the force-deletion (in turn force-drain) on MCM eventually to try the serial deletion (not eviction) by setting the deletionTimeStamps on pods with PVs as suggested by @amshuman-kr .

[2020-10-12 06:21] amshuman-kr commented on #172
@vlerenc Yes. What I meant was for MCM to not necessarily actively delete volumeattachments but to wait for them to be deleted before pronouncing that drain is complete. I am not a fan of the current approach of MCM extracting volume information from the node status which requires us to delegate a callback to the drivers to parse the volume IDs because the structure is provider specific. `VolumeAt

[2020-10-12 07:25] vlerenc commented on #172
@amshuman-kr I find it hard to rely on volume attachments. As you said, this would be possible only with the latest releases  and as we see here, we would depend and potentially hold back the node termination if the attach-detach-controller is buggy/offline. For serial pod eviction it may be solvable via timeouts, but as a remedy for the bug above, it wouldn't be if we may not leave any volume att

[2020-10-12 07:31] amshuman-kr commented on #172
@vlerenc Absolutely. I meant when the functionality is more stable and reliable 🙂

👍

It is in the driver. Both in the [in-tree](https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver.go#L31) and [out-of-tree](https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/provider/driver/driver.go#L38) code-lines. I meant that it would be nice to get rid

[2020-10-12 07:32] vlerenc commented on #172
Ah, thanks. :-)

[2020-10-12 07:45] amshuman-kr commented on #172
We do force-delete when first drain timed out. @hardikdr @prashanth26 please tell us if there other cases where force-deletion is explicitly triggered by gardener/gardenlet/worker controller.

During force delete, all pods in the node are [deleted in parallel](https://github.com/gardener/machine-controller-manager/blob/39a381708c00a9279fc16c3c6be0f609d2b38024/pkg/controller/drain.go#L456) without

[2020-10-13 04:38] prashanth26 commented on #172
I shall go through the drain logic code and look at all possible cases and get back on this one.

Just getting into the details on this. Firing a delete call on a PVC used by a pod/statefulset will not work right? We might have to rather set the deletion timestamp on the pod, and then the new pod (if backed by a statefulset) will not be rescheduled on this machine as the node is `cordoned`.

[2020-10-13 04:44] hardikdr commented on #172
MCM should never delete a PVC/PV ever IMO.

[2020-10-13 05:11] hardikdr commented on #172
I overall agree with the latest discussions above between Vedran and Amshu:
- MCM could in the future rely more on `volumeAttachments` for its drain and serialized-eviction, as we see `Node.Status` is a bit unreliable/flapping volume-entries, though that can be mitigated by the small timeouts. But then attach-detach controller also doesn't seem fully stable, it can hold back the deletion of the ma

[2020-10-13 07:16] amshuman-kr commented on #172
We should never delete PV/PVC. I meant deletion of only `VolumeAttachment` which represents only the _attachment_ of the volumes to the node and not the volumes themselves.

[2020-10-15 06:42] #172 closed

[2020-11-19 15:52] dkistner commented on #70
I guess as the referenced PR is merged we can close this issue.

[2020-11-19 15:52] #70 closed

[2020-11-27 18:32] rakewill commented on #41
This is not required since GCP automatically configured Private Google Access when a Cloud NAT is in place for the IP range.

[2020-11-27 18:32] #41 closed

[2020-12-08 12:42] ialidzhikov commented on #172
FYI there is https://github.com/kubernetes/kubernetes/pull/96617. I now validated that the upstream PR would also fix the dangling VolumeAttachments after hibernation (that we were leaving before the mitigation in gardener/gardener#2963). On wake up such dangling VolumeAttachments will be garbage collected after `maxWaitForUnmountDuration=6m0s`. I believe this still may cause minor issues as start

[2020-12-08 13:41] prashanth26 commented on #172
Yes, you are right. It is kind of odd to me as well that machines don't wait for volume detachment on hibernating clusters. However, at the same time, the definition of force deletion - would mean for MCM to not wait IMO (open for debate) as if we start waiting this could potentially lead to failures.

However, yes I do think of. a way where we can improve this. How about we update the hiberation

[2020-12-10 07:41] amshuman-kr commented on #172
I agree that the _force delete_ terminology is no longer precise. In MCM, it is taken to simply mean just delete machines without waiting for anything but in gardener there are many cases where it is used but the use-case is slightly different. I think we should list the cases for worker pool scale-down (or generally machine deletion) and their variations. Here is what comes to my mind.

1. Machin

[2021-02-04 22:18] vpnachev commented on #89
Here is the PR https://github.com/kubernetes/kubernetes/pull/98753 aiming reduce the likelihood this problem to occur.

[2021-02-08 07:49] prashanth26 commented on #89
This is great news :) I guess, once this PR is merged we can verify if this issue occurs in the new K8s versions and if not close this issue.

[2021-02-08 07:56] vpnachev commented on #89
I think we should ask this change to be cherry-picked, otherwise shoot clusters running k8s 1.18, 1.19 or 1.20 will be still affected by this id length limitation.

[2021-03-22 08:10] timebertt opened #244 "csi-node-driver-registrar preStopHook failing"
**How to categorize this issue?**

/area storage
/kind bug
/priority normal
/platform gcp

**What happened**:

When rolling the `csi-driver-node`, I noticed one pod refusing to terminate and the `preStopHook` failing with the following error:

[code]

The pod was hanging for another `~5m`.

**What you expected to happen**:

The `csi-driver-node` pod to properly terminate so that rolls can continue

[2021-03-22 08:13] vlerenc commented on #244
@timebertt Since [this](https://github.com/gardener/gardener-extension-provider-gcp/issues/244#issuecomment-803856823) happens again and again, maybe the team likes to update the templates to the numbered priorities that were introduced for better roadmap planning in the future (throughout all repos that you have and where you have that in the template)?

[2021-03-22 08:18] ialidzhikov commented on #244
Already done with https://github.com/gardener/gardener/pull/3729. Will be fixed in the extension repos after revendoring.

[2021-04-21 10:34] ialidzhikov commented on #5
@petersutter, @xrstf you may want to know about this issue as part of GEP-15.

[2021-04-21 10:53] prashanth26 commented on #5
I am currently working on something else. However, I will try to spend some time in the coming weeks to fix this one.

[2021-04-29 20:35] toming90 opened #262 "Support shared VPC in gardener"
**How to categorize this issue?**
/area networking
/kind enhancement
/priority 2
/platform gcp

**What would you like to be added**: We tried to create gardener cluster using GCP shared VPC, it fails to create the cluster because gardener cannot detect shared-vpc in service project.
Current config of VPC in [gardener infrastructure](https://github.com/gardener/gardener-extension-provider-gcp/blob/

[2021-05-07 13:18] voelzmo opened #263 "ControllerManager Feature Gate CustomResourceValidation no longer exists"
**How to categorize this issue?**
/area documentation
/kind bug
/priority 3
/platform gcp

**What happened**:
As specified in the [shoot example file](https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L26) I used the GCP extension provider's [control plane example file](https://github.com/gardener/gardener-extension-provider-gcp/blob/master/example/30-controlplane.yaml#L60-L62

[2021-05-07 13:30] rfranzke commented on #263
Feature gates are not validated today, neither in g/g nor in any extension. There is https://github.com/gardener/gardener/issues/3987 where it is being discussed whether we should introduce it. If the decision is 'yes' then we might to have it as well for the provider extensions. 👍🏻

[2021-05-10 09:10] rfranzke commented on #263
cc @vpnachev as you want to work on this week :)

[2021-05-13 20:20] ialidzhikov opened #265 "Invalid terraform config when more than 1 `.networks.cloudNAT.natIPNames` are specified"
**How to categorize this issue?**

/area quality
/kind bug
/priority 2
/platform gcp

**What happened**:

Cannot create an Infrastucture with multiple `.networks.cloudNAT.natIPNames`

**What you expected to happen**:

To be able to create an Infrastucture with multiple `.networks.cloudNAT.natIPNames`

**How to reproduce it (as minimally and precisely as possible)**:

1. Apply a Infrastructure with

[2021-05-14 05:45] #265 closed

[2021-06-04 15:28] stoyanr commented on #263
/assign

[2021-06-09 14:35] #263 closed

[2021-07-12 07:35] vanjiii opened #289 "Stop using github.com/pkg/errors"
**How to categorize this issue?**

/kind enhancement
/priority 3
/platform gcp

**What would you like to be added**:
Similar to gardener/gardener#4280 we should be using Go native error wrapping (available since GO 1.13).

[code]

**Why is this needed**:
 Getting rid of vendors in favor of using stdlib is always nice. Others seem to do this as well - kubernetes/kubernetes#103043 and containerd/con

[2021-07-13 22:27] kapilraju opened #291 "Support for provisioning Gardener with Shared VPC in GCP"
/area networking
/kind enhancement
/priority 1
/platform gcp

**What would you like to be added:**
Gardener doesn't support creating Kubernetes cluster using GCP shared VPC. It fails to create the cluster because gardener cannot detect exported subnets(shared-vpc) in GCP service project and it detects only VPCs created locally in the service project

**Why is this needed:**
Shared VPC lets organiz

[2021-07-14 05:54] prashanth26 commented on #291
Duplicate of https://github.com/gardener/gardener-extension-provider-gcp/issues/262?

[2021-07-14 07:00] kapilraju commented on #291
@prashanth26 Yes, this duplicate of #262

[2021-07-14 07:28] prashanth26 commented on #291
/close in favour of #262

[2021-07-14 07:28] #291 closed

[2021-07-14 15:10] kapilraju commented on #291
@prashanth26 Can you please reopen this and close #262 , i don't have edit privilege for #262 to make changes to that post

[2021-07-14 15:14] kapilraju commented on #291
@vlerenc @prashanth26

Do you need any additional information to consider this feature request?

[2021-07-14 15:43] vpnachev commented on #291
But you can comment which is fine.

[2021-07-15 03:46] prashanth26 commented on #291
Is there any specific reason for this? If it's to add more description, feel free to comment on the [other issue](https://github.com/gardener/gardener-extension-provider-gcp/issues/262).

No. We will try to pick this up.

[2021-07-16 06:27] AxiomSamarth opened #295 "Shoot worker validation"
**How to categorize this issue?**

/area auto-scaling
/kind enhancement
/priority 3
/platform gcp

**What would you like to be added**:
A validation in the shoot worker spec where the minimum number of workers in a worker pool is at least equal to the number of zones configured for that worker pool.

**Why is this needed**:
When users set minimum worker to 1 in a multi zone worker pool of clusters

[2021-08-11 05:20] #295 closed

[2021-08-19 08:09] ialidzhikov opened #309 "Classify missing CloudNAT IPs as configuration error"
**How to categorize this issue?**

/area ops-productivity
/area quality
/kind bug
/priority 3
/platform gcp

**What happened**:
Infrastructure reconciliation does not check whether the given CloudNAT IP exists. In such case it yields a terraform error that is not intuitive.

**What you expected to happen**:
provider-gcp to perform a prerequisite check whether the given CloudNAT IP exist. In such c

[2021-08-30 11:23] ialidzhikov opened #316 "Topology labels are missing for CSI provisioned PVs"
**How to categorize this issue?**

/area storage
/area control-plane
/kind bug
/priority 3
/platform gcp

**What happened**:
The PVs provisioned by the in-tree driver (K8s < 1.18) have the following topology labels:

[code]

PVs provisioned by CSI (K8s >= 1.18) don't have the corresponding topology labels:

[code]

Users report that external tools may depend on the PV topology labels - for example

[2021-08-30 11:31] ialidzhikov commented on #89
The answer in https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/581#issuecomment-895539049 is pretty descriptive:

I guess there is nothing to do on our side. And the issue should be resolved in Kubernetes v1.22 and v1.23.

[2021-08-30 11:53] ialidzhikov opened #317 "Cover Infrastructure creation with multiple `.networks.cloudNAT.natIPNames` with (env) test"
**How to categorize this issue?**

/area testing
/kind enhancement
/priority 3
/platform gcp

**What would you like to be added**:
Previously we had a regression (https://github.com/gardener/gardener-extension-provider-gcp/issues/265) on creating Infrastructure with more than 1 `.networks.cloudNAT.natIPNames`. It was fixed by #266 but no test was added.

**Why is this needed**:
To make sure that t

[2021-08-31 08:33] #289 closed

[2021-08-31 14:58] #309 closed

[2021-09-07 13:35] vpnachev commented on #89
Yep, we can do nothing about this issue, so I think we can close it now, wdyt?

[2021-09-07 13:39] ialidzhikov commented on #89
Yep, makes sense. Meanwhile Kubernetes v1.22 support PR was also merged. Thank you for your efforts on this issue. :)

/close

[2021-09-07 13:39] #89 closed

[2021-09-07 16:27] ialidzhikov commented on #143
I had a look today into this issue and tried to outline future improvements.

- I checked whether the admission-gcp component is using `application/vnd.kubernetes.protobuf` content type. According to the [protobuf proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/protobuf.md), using protobuf can decrease the CPU, memory and network usage:

[2021-09-08 07:13] timuthy commented on #143
I guess this won't hurt but in the end I don't think that it will save much memory, especially if we use protobuf, right?

Does it make sense to use profiling (https://github.com/gardener/gardener/pull/4568) here?

[2021-09-08 07:45] timebertt commented on #143
Hmm, why do you think so? The shoot resource can grow quite large and has to be stored somewhere in memory, which is independent of the used transport protocol.
Filtering out all irrelevant shoots (i.e., `spec.provider.type!=gcp`), will still save quite some memory, I assume.
Am I missing something?

[2021-09-08 07:57] timuthy commented on #143
I checked the rough size of shoots on our biggest landscape and yes, it's a number but I cannot deduce that this will save memory in the `~100Mi` range. Of course, you cannot really compare a json representation size with the size that's needed in memory, but still I should give a direction, right?

Please note, that I never claimed filtering out the shoots can be disregarded. I was rather wonderi

[2021-09-08 08:06] timebertt commented on #143
Got your point. Well, I guess we just have to try and see 😄

[2021-09-08 15:05] ialidzhikov commented on #143
After more thoughts on how to tackle this issue, I came up with the following proposal:
gardenlet to maintain a label (`provider.shoot.gardener.cloud/<type>=true`) on the cloud provider Secret. gardenlet will add this label to the cloud provider Secret when the Secret is used by at least 1 Shoot from the given provider type. And respectively, gardenlet will remove the label when there are no more

[2021-09-08 15:09] rfranzke commented on #143
Thanks @ialidzhikov!
One comment:

This should probably be the GCM since it's in no way seed-specific and can be handled centrally.

[2021-09-08 15:22] ialidzhikov commented on #143
I thought about it but faced the following problem. If it is a new controller in GCM that is watching Shoots and maintaining the cloud provider Secret label, then when GCM is down, GCM can will lose track of the Shoots that were deleted meanwhile (=> fails to remove the label from the Secret). Of course, this can be handled by adding another finalizer to the Shoot metadata but I was not quite sure

[2021-09-08 15:29] rfranzke commented on #143
Good point, indeed. Yeah, the additional finalizer sounds not optimal. Still, I can imagine that having such logic in gardenlet might lead to other challenges w.r.t. the seed authorization and multiple gardenlets chasing for the same secret, or? I haven't thought about it much, but from a first gud feeling putting such logic in GCM would feel more natural (if we find good ways to overcome the ment

[2021-09-09 08:51] timuthy opened #323 "Using data disk for workers does not work for some OSes"
**How to categorize this issue?**

/area os
/kind bug
/priority 3
/platform gcp

**What happened**:
Worker nodes with data disks cannot join the cluster on GCP with Gardenlinux.

**What you expected to happen**:
The worker to join the cluster successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Create a GCP shoot with Gardenlinux `318.8` and the following disk configura

[2021-09-09 08:51] timuthy commented on #323
/cc @guydaichs

[2021-09-09 11:40] ialidzhikov commented on #143
When I go one step back, I think that the issue boils down to the direction that there is no "free" (by free I mean without additional requests/watches) way to determine the provider type of cloud provider Secret. Currently it is really nice that the provider type is part of the Shoot and CloudProfile specs. This allows extension admission controllers to pick only the requests that match the provi

[2021-09-10 13:53] #323 closed

[2021-09-10 13:58] ialidzhikov commented on #143
I updated my previous comment https://github.com/gardener/gardener-extension-provider-gcp/issues/143#issuecomment-916010872 with implementation proposal on how to introduce a `provider.type` on SecretBinding. The proposal itself consists of several stages to make sure that the backwards incompatible API change is rolled out in graceful and controlled manner.
Let me know what you think in general a

[2021-09-10 14:12] rfranzke commented on #143
I like the proposal @ialidzhikov!

Could we use a list of providers instead of only one?

What are valid values?

How would the label be named?

[2021-09-10 15:09] ialidzhikov commented on #143
My current assumption is that in general it is not a good practice to reuse single Secret. At least I would vote for separation of concerns and in a personal setup I wouldn't put such sensitive data into single Secret. Let me know if there are cases where we recommend this approach. I agree with you in general that it is kind of an incompatible change. On the other side we can use the opportunity

[2021-09-14 08:19] AlwaySummit commented on #316
Hi @ialidzhikov, could you please check the provisioner you are using in storage class? Per my understanding, csi-migration functionality won't be implicated if the pd.csi.storage.gke.io is directly used in sc. Please refer to https://github.com/kubernetes/kubernetes/issues/103403.
![image](https://user-images.githubusercontent.com/20851530/133222045-36730ce8-e915-4a06-a16b-a6470c0be546.png)

[2021-09-29 05:48] rfranzke commented on #143
/component gardener
/roadmap internal
/milestone 2021-Q4

[2021-10-11 08:36] timebertt opened #335 "Pods serving webhooks are missing readiness probes"
**How to categorize this issue?**

/area robustness
/kind enhancement
/platform gcp

**What would you like to be added**:

Both the extension pods running in the seed and the validator pods running in the garden are missing `readinessProbes`.
We should add them to minimize webhook failures because of request being sent to unready pods.

[2021-10-15 11:41] stoyanr opened #337 "Improve the validation error message when the worker minimum is less than the number of zones"
**How to categorize this issue?**

/area control-plane ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:

If the worker minimum less than the number of configured zones, the user sees the following error message:

[code]

In the above case, there are 3 zones. The message is rather unclear and misleading. It should properly explain that that at least one node is r

[2021-10-15 11:44] #337 closed, assigned to nobody

[2021-10-26 08:48] syhan opened #340 "Upgrade gcp-compute-persistent-disk-csi-driver from v1.0.1-gke.0 to v1.3.4"
**How to categorize this issue?**

/area storage
/kind impediment
/priority 4

/platform gcp

**What would you like to be added**:
Upgrade gcp-compute-persistent-disk-csi-driver from v1.0.1-gke.0 to v1.3.4

**Why is this needed**:
 we figure the old one seems missed some crucial logic like [RepairUnderspecifiedVolumeKey](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blo

[2021-10-26 14:19] donistz opened #343 "Offer OIDC as an alternative way for authentication to GCP APIs to eliminate/reduce the usage of static secrets"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2
/platform gcp

**What would you like to be added**:
Gardener to start supporting OIDC authentication for GCP APIs as an alternative to service account keys
**Why is this needed**:
Offering an alternative method for Gardener service authentication to GCP APIs (by using OIDC) for managing consumer project resources will

[2021-11-16 22:19] kapilraju commented on #262
Any update on this feature ask?

We had a discussion on this few months back - https://github.com/gardener/gardener-extension-provider-gcp/issues/291

[2021-11-17 12:57] vpnachev opened #351 "The worker validation prevents lifecycle operations from other controllers"
**How to categorize this issue?**

/area ops-productivity quality robustness usability
/kind bug
/priority 2
/platform gcp

**What happened**:
I have a shoot cluster that is using a k8s versions that has expired long time ago. The shoot maintenance controller fails to update the shoot to the next k8s versions because the shoot have a worker pool configured with 3 availability but the minimum numbe

[2021-11-24 10:58] #351 closed

[2021-11-30 03:23] syhan commented on #340
@stoyanr may I know where to find your GQF backlog and what is the ETA of the upgrade could be expected? Thanks

[2021-12-02 14:07] dkistner opened #357 "Terraform removal for infrastructure controller"
**How to categorize this issue?**
/kind technical-debt
/priority 2
/platform gcp

**What would you like to be added**:
Project Gardener is using Terraform since beginning to create, manage and delete the underlying infrastructure for Shoot clusters (e.g. VPCs, subnets, nat gateways etc.).

As Terraform was great in the beginning to get started, we today experience more and more issues with it.
For

[2021-12-06 10:45] ialidzhikov opened #359 "[Flaky Test] Bastion integration test is flaky"
**How to categorize this issue?**

/area testing
/kind flake
/priority 3
/platform gcp

**Which test(s)/suite(s) are flaking**:
`Bastion tests [It] should successfully create and delete`

**CI link**:
- https://tm.gardener.cloud/testrun/default/e2e-xnhtd (ref https://github.com/gardener/gardener-extension-provider-gcp/pull/358#issuecomment-986261128)
- https://tm.gardener.cloud/testrun/default/e2e

[2021-12-07 00:46] tedteng commented on #359
It may `rateLimitExceeded` cause operation delay to apply firewall rule to open port 22 before executing next 22 port check

[2021-12-13 16:20] donistz opened #362 "Implement a default centrally managed GCP service account for authentication to GCP API across GCP projects"
**How to categorize this issue?**

/area security
/kind enhancement
/priority 2
/platform gcp

**What would you like to be added**:
Allow Gardener service providers to offer a default GCP service account for authentication to the GCP APIs for managing resources inside different GCP projects that belong to one and the same GCP organization
**Why is this needed**:
When Gardener service consumers wan

[2021-12-17 01:26] tedteng commented on #359
https://github.com/gardener/gardener-extension-provider-gcp/pull/364#issuecomment-995759256
new error from test result
[code]

[2021-12-22 08:05] ialidzhikov commented on #359
Why you don't look into this issue right now?

[2021-12-23 00:46] tedteng commented on #359
last week was busy on the OpenStack extension which I was submitted this Monday.  also one sick leave yesterday.  now I'm able to work on this task

[2021-12-23 00:50] tedteng commented on #359
/assign

[2022-01-06 10:12] donistz commented on #37
This is also important for preventing resources leakage

[2022-01-06 10:57] acumino commented on #340
/assign

[2022-01-06 14:27] shafeeqes commented on #340
/assign

[2022-01-07 05:46] tedteng commented on #359
Hi @ialidzhikov feel free to review when you are available thanks.

[2022-01-07 07:55] ary1992 commented on #340
/assign

[2022-01-14 15:53] petersutter opened #376 "Bastions are not cleaned up when using ipv6"
**How to categorize this issue?**

/area robustness
/kind bug
/platform gcp

**What happened**:
I created a bastion containing an IPv6 address, knowing that it is not supported for gcp. After I saw the expected error in the status, I marked the bastion for deletion.

[code]

**What you expected to happen**:
That the bastion resource is finally deleted. This is not the case, instead, `func ingressP

[2022-01-17 07:02] #359 closed

[2022-01-20 06:43] tedteng commented on #376
PR https://github.com/gardener/gardener-extension-provider-gcp/pull/379

[2022-01-24 20:19] #340 closed

[2022-01-26 07:48] ThormaehlenFred opened #385 "remove port 80"
**How to categorize this issue?**
/area certification
/kind enhancement
/platform gcp

**What would you like to be added**:
remove port 80 in
https://github.com/gardener/gardener-extension-provider-gcp/blob/41a47b4f3bd416518f62b6bc93d758ac3d606573/pkg/internal/infrastructure/templates/main.tpl.tf#L170.
current coding

**Why is this needed**:
stakeholder complain and security guideline violation

[2022-01-31 16:28] vlerenc commented on #132
@ashwani2k @himanshu-kun FYI

[2022-02-14 15:55] ialidzhikov opened #387 "admission-gcp: Worker's `providerConfig.serviceAccount` is not properly validated"
**How to categorize this issue?**

/area quality
/kind bug
/platform gcp

**What happened**:
Currently admission-gcp allows the following WorkerConfig to be specified:
[code]

Note that the `serviceAccount.name` should be required and non-empty. See https://github.com/gardener/gardener-extension-provider-gcp/blob/d22d912b74bab5f6665783cadfd41c112a351d64/pkg/apis/gcp/validation/worker.go#L53-L55

C

[2022-02-16 16:02] #387 closed

[2022-03-23 07:05] ialidzhikov commented on #143
With https://github.com/gardener/gardener-extension-provider-gcp/pull/396 on a not that busy landscape the avg memory utilization of admission-gcp dropped from ~40MiB to ~21MiB.

![Screenshot 2022-03-23 at 8 59 37](https://user-images.githubusercontent.com/9372594/159642158-f1185d8e-b336-44a0-b275-8d02ef441ad7.png)

Let's see what will be the effect for busy landscapes where admission-gcp memory u

[2022-03-24 10:49] ScheererJ opened #416 "SSH not working when Bring-your-own-VPC is used"
**What happened**:
Connecting to a shoot cluster via ssh with gardenctl failed when the shoot cluster brought its own VPC instead of having it created by gardener.

[code]

**What you expected to happen**:
I expect `gardenctl ssh` to work regardless of whether the VPC is created by gardener or not.

**How to reproduce it (as minimally and precisely as possible)**:
Try to ssh into a shoot cluster w

[2022-03-28 11:16] tedteng opened #415 "violating constraint rules in project level blocked the bastion creation."
**How to categorize this issue?**

[code]
/area TODO
/kind bug
/platform gcp

**What happened**:

It might be caused by an organizational policy that prevents the creation of VMs with external IP addresses. So because GCP is trying to create an external IP but the org policy prevents this, you are seeing an error that implies that you are trying to create a VM with an external IP.  [line](https://

[2022-03-28 12:25] petersutter commented on #416
@ScheererJ I have transferred this issue to `gardener-extension-provider-gcp` where the bastion controller for gcp is implemented
cc @tedteng

[2022-03-28 14:13] DockToFuture opened #417 "Validate CloudNAT and Woker configuration in shoot spec."
**How to categorize this issue?**

/area networking
/kind enhancement
/platform gcp

**What would you like to be added**:
Currently I can specify a CloudNat with min ports per VM and a list of manual NAT IP addresses.
I can break the shoot if I specify more nodes in the worker group as are supported by the CloudNAT configuration.
The calculation for the maximum number of allowed nodes with a speci

[2022-04-15 06:10] kwiatekus commented on #385
The configurability ( i.e in the shoot spec )of the allowed inbound ports would be great

[2022-04-25 11:03] MichaelSp commented on #4
I'm getting mails complaining about this FW rule. Any update on the future plans?

[2022-05-03 02:25] tedteng commented on #416
/assign

[2022-05-12 15:17] ialidzhikov commented on #143
On a large landscape with the rollout of `admission-gcp@v1.22.0` the memory usage dropped significantly - from 200-250MiB to 40-60MiB:

![Screenshot 2022-05-12 at 18 13 52](https://user-images.githubusercontent.com/9372594/168109119-2c2be3a4-4167-422a-9791-7ac6584cbfc2.png)

We can say that the issue is fixed for admission-gcp. However I will keep it open to track the progress for other other admi

[2022-05-30 05:33] tedteng commented on #415
/assign
planning to implement the ConfigValidator interface

[2022-05-30 06:58] tedteng commented on #415
after check the current roles in cluster secrets doesn't have `orgpolicy.policy.xxx` role,  that means the cluster secrets unable to check organizational level resources, eg this ticket issue org policy for `constraints/compute.vmExternalIpAccess` which use for Restricting external IP addresses to specific VM instances set. [1]

1.`https://cloud.google.com/compute/docs/ip-addresses/reserve-static-

[2022-05-30 06:58] #415 closed

[2022-05-30 09:14] #416 closed

[2022-05-30 20:15] ialidzhikov commented on #143
The other admission components are adapted in a similar way. Hence, we can close this issue.

/close

[2022-05-30 20:15] #143 closed

[2022-06-21 07:59] avizov commented on #4
We are facing the same and getting a weekly alert mail from Minerva that complaining about the Firewall rule shoot.
When is it planned to be fixed?

[2022-06-29 11:28] #132 closed

[2022-07-19 18:32] adomarat opened #465 "Add configuration for Private Service Connect in GCP InfrastructureConfig defintition"
**How to categorize this issue?**

/area networking
/kind enhancement

**What would you like to be added**:

An InfrastructureConfig field to configure [Private Service Connect](https://cloud.google.com/vpc/docs/configure-private-service-connect-apis) in a GCP vpc.

This is the GCP equivalent of the Service Endpoints offered by Azure, and the Gateway Endpoints offered by AWS. Both of those feature

[2022-07-21 07:38] ialidzhikov opened #466 "Update the gcp-compute-persistent-disk-csi-driver"
**How to categorize this issue?**

/area storage
/kind enhancement
/platform gcp

**What would you like to be added**:
Some time ago we reported the following issue to the upstream gcp-compute-persistent-disk-csi-driver - ref https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/965. There is already a release that contains a fix for it. Hence, we can update our driver v

[2022-07-21 12:22] vlerenc commented on #4
@ScheererJ @DockToFuture Could you please help here? Minerva (formerly Prisma) complains (in all stakeholder accounts): https://wiki.wdf.sap.corp/wiki/display/itsec/Google+Cloud+-+Hardening#GoogleCloudHardening-6.1.3FirewallRulesforInfrastructureports

Since only TLS traffic is permitted, can we drop port 80 for this default firewall configuration?

[2022-07-25 06:10] #4 closed

[2022-07-25 12:19] ialidzhikov commented on #466
@dimitar-kostadinov noticed that the CSI driver version is already updated with https://github.com/gardener/gardener-extension-provider-gcp/pull/458.
@JordanJordanov @dimitar-kostadinov , sorry, my bad, I totally missed this PR and thought that we have to do the update. 😞

So, nothing to be done here for now.

/close

[2022-07-25 12:20] #466 closed

[2022-08-10 10:28] mliepold opened #480 "Empty natIPNames list for cloudNAT configuration should be rejected"
**How to categorize this issue?**

/area networking
/kind bug
/platform gcp

**What happened**:

We had a user ticket where the shoot.yaml contained the following configuration for the `cloudNAT`:
[code]

This configuration was not rejected and caused an error during the Shoot creation:
[code]

**What you expected to happen**:

An empty list of `natIPNames` for `cloudNAT` should be rejected.

**Ho

[2022-08-21 13:20] ialidzhikov opened #485 "Cannot create Shoot with K8s version 1.17 when the `DisableGardenerServiceAccountCreation` is enabled"
**How to categorize this issue?**

/area control-plane
/kind bug
/platform gcp

**What happened**:
Cannot create Shoot with K8s version 1.17 when the `DisableGardenerServiceAccountCreation` feature gate is enabled.

**What you expected to happen**:
To be able to create Shoot with K8s version 1.17 even when the `DisableGardenerServiceAccountCreation` feature gate is enabled.
Or alternatively to be

[2022-08-24 09:41] stiller-leser commented on #465
Just to add my two cents: Another option that would add value, would be to allow `Google Private Access`.

[2022-09-13 15:24] asifhasnaincer opened #494 "adding gateway endpoints to vpc on AWS is not working"
**How to categorize this issue?**

/area networking
/kind bug
/platform aws

**What happened**:

After enabling `networks.vpc.gatewayEndpoints` [configuration](https://github.com/gardener/gardener-extension-provider-aws/blob/653b1621b23fd69f8bbcfc9e45ab76c96aa0ad7a/docs/usage-as-end-user.md) on AWS, the gateway VPC endpoint is created but the traffic is still passing through the internet/NAT gatew

[2022-09-14 06:39] asifhasnaincer commented on #494
Since the issue is relevant to the 'gardener-extension-provider-aws', closing it here (in *-gcp) and reopening in *-aws: https://github.com/gardener/gardener-extension-provider-aws/issues/607

[2022-09-14 06:39] #494 closed

[2022-10-17 10:47] donistz opened #508 "Create buckets for GCP clusters with access control value “Uniform”"
**How to categorize this issue?**

/area control-plane
/kind enhancement

**What would you like to be added**:
Create buckets for GCP clusters with access control value “Uniform”
**Why is this needed**:
Current Gardener behavior is to use the default (ACL) but according to the vendor's documentation “…ACLs are a legacy access control system for Cloud Storage designed for interoperability with Amaz

[2022-10-20 14:00] AleksandarSavchev commented on #480
/assign

[2022-10-20 16:54] hariprasath91 opened #510 "Enable "Block Project-wide SSH Keys" option in worker nodes of shoot cluster in Google Cloud"
**How to categorize this issue?**
/area --> /auto-scaling
/kind bug

**What happened**:
When we create a Cluster in gardener with Google Cloud provider , we see the SSH Keys on the Google side for the appropriate worker nodes getting enabled .
This is considered as a security constrain for SAP Complaint perspective

**What you expected to happen**:
We need to enable a option "Block Project-wide SS

[2022-10-20 17:11] ialidzhikov commented on #510
Fixed with https://github.com/gardener/gardener-extension-provider-gcp/pull/506

/close

[2022-10-20 17:12] #510 closed

[2022-10-26 08:56] #317 closed

[2022-11-14 14:26] #480 closed

[2022-11-23 10:25] ialidzhikov commented on #316
/close
as it seems to be expected that the corresponding labels are not set for CSI provisioned PVs